# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches & logs
*.log
*.tmp
.cache/
*.sqlite3

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE & Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Allure report
allure-results/
allure-report/

# OS files
.DS_Store
Thumbs.db

# Python notebooks
.ipynb_checkpoints/
